Django>=5.0
pillow>=10.0.0
django-cors-headers>=4.0.0
gunicorn>=21.0.0
whitenoise>=6.0.0
django-import-export>=4.4.1
openpyxl>=3.1.5
xlwt>=1.3.0
tablib>=3.10.0
diff-match-patch>=20241021
et-xmlfile>=2.0.0